section {
  width: 100%;
  padding: 16px;
  flex-direction: column;
  gap: 16px;
  box-sizing: border-box;
  .page-header {
    flex-direction: row;
    justify-content: space-between;
  }
  .table-wrapper {
    width: 100%;
    border: 1px solid var(--mat-sys-outline-variant);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    p {
      &.empty-message {
        font-size: 20px;
        text-align: center;
        margin: 20px 0;
      }
    }

    table {
      &.loading {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    .actions-wrapper {
      white-space: nowrap;
      mat-icon {
        color: var(--mat-sys-outline);
      }
    }

  }
}
